.price{
    width: 100vw;
    height: 70px;
    position: sticky;
    top: 80px;
   
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 500px) {
    .price {
      display: none;
    }
  }

.main{
    
   height: 60px;
    border: 2px dotted rgba(128, 128, 128, 0.51);
    display: flex;
    align-items: center;
}
.one{
    flex: 1;
    border-right: 1px dotted gray;
   display: flex;
   flex-direction: column;
    height: 100%;
    padding-top: 5px;
    cursor: pointer;
    transition: 0.8s all ease;
    
}
.one:hover{
   
    background-color: rgba(128, 128, 128, 0.182);
}
.down{
    display: flex;
    justify-content: space-evenly;
}
.top{
    display: flex;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}
.arrayDown{
    color: red;
}
.first{
    font-family: 'Anton', sans-serif;
    color: red;
    font-size: 14px;
    letter-spacing: 1px;
}
.second .third{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
.arrowUp{
    color: green;
}